
<style media="screen">
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px; /* Altura del footer */
        background-color:red;
        color: white;
        text-align: center;
        line-height: 40px; /* Altura de línea para centrar verticalmente */
    }
</style>
<br><br>
<footer class="footer bg-dark text-white text-center">
        <div class="container">
            <span class="text-muted">&copy; 2024 - Todos los derechos reservados</span>
        </div>
    </footer>
