
    <!DOCTYPE html>
    <html lang="es">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
      <title>My Flask App</title>
      <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}" charset="utf-8"></script>

      <link href="{{ url_for('static', filename='bootstrap-5.0.2/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">

    </head>
    <body>

    <div class="container border border-primary">
      <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center mb-4">Buscador semantico</h1>
          <br>
          <form>
            <div class="input-group mb-3">
              <input id='buscar' name='buscar' type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2">
              <button class="btn btn-primary" type="button" id="button-addon2" onclick="buscaras()">Buscar</button>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="border border-success">
      <br>
      <div class="respuesta" id='respuesta'>

      </div>
    </div>
    <script type="text/javascript">
    function buscaras(){
      var bus = document.getElementById("buscar").value;
      var datos=new  FormData();
      datos.append("bus",bus);

      $.ajax({
        type: "POST", //type of submit
        cache: false, //important or else you might get wrong data returned to you
        url: "/respuesta", //destination
        datatype: "json", //expected data format from process.php
        data: datos, //target your form's data and serialize for a POST
        contentType:false,
        processData:false,
        success: function(data){
          console.log(data);
            retorno1(data);
        },
      });
    }

    function retorno1(data){
      var html = '';
      if (typeof data === "string") {
        html += "<div class='container'>";
        html +=data;
        html += "</div>";
        $('#respuesta').html(html);
      }else{

          console.log(data.length+" llego");
          var indice = data[data.length - 1].indice; // Accede al último elemento de la lista

          html += "<div class='container'>";
          if(indice >= 0 && indice < 1){
            for (var i = 0; i < data.length; i++) {
              if (data[i].carrera === null || data[i].to === 0 || data[i].carrera === "" || data[i].to === "") {
                    html += "Lo siento, no tengo una respuesta para esa pregunta o puede argumentar un poco mas.";
              } else {
                  html += "La cantidad de estudiantes de la carrera " + data[i].carrera + " es de " + data[i].to;
              }
            }
          }
          if(indice >= 1 && indice < 2 || indice == 3){

                    html += "La cantidad de estudiantes activos de la carrera " + data[data.length - 1].carrera + " son los siguientes";

                                html += "<h2>Tabla de estudiantes activos</h2>";
                                html += "<table class='table table-striped'>";
                                  html += "<thead>";
                                    html += "<tr>";
                                      html += "<th>Nro</th>";
                                      html += "<th>Nombre</th>";
                                      html += "<th>Apellido Paterno</th>";
                                      html += "<th>Apellido Materno</th>";
                                      html += "<th>Cédula de Identidad</th>";
                                    html += "  <th>Departamento</th>";
                                    html += "</tr>";
                                  html += "</thead>";
                                html += "  <tbody>";
                    var  contar = 0;
                    for (var i = 0; i < data.length; i++) {
                      if (data[i].carrera === null || data[i].carrera === "") {
                            html += "Lo siento, no tengo una respuesta para esa pregunta o puede argumentar un poco mas.";
                      } else {
                          html +="<tr>";
                                    html += "<td>"+(i+1)+"</td>";
                                    html += "<td>"+data[i].nombre+"</td>";
                                    html += "<td>"+data[i].ap+"</td>";
                                    html += "<td>"+data[i].am+"</td>";
                                    html += "<td>"+data[i].ci+"</td>";
                                    html += "<td>"+data[i].departamento+"</td>";
                                  html += "</tr>";
                      }
                      contar++;
                    }
                    html +=" </tbody>";
                          html +="</table>";
                        html+="se tiene "+contar+" estudiantes activos";
          }



          if(indice >= 2 && indice <3 || indice == 4){

            html += "La cantidad de estudiantes desactivos de la carrera " + data[data.length - 1].carrera + " son los siguientes";

                        html += "<h2>Tabla de estudiantes desactivos</h2>";
                        html += "<table class='table table-striped'>";
                          html += "<thead>";
                            html += "<tr>";
                              html += "<th>Nro</th>";
                              html += "<th>Nombre</th>";
                              html += "<th>Apellido Paterno</th>";
                              html += "<th>Apellido Materno</th>";
                              html += "<th>Cédula de Identidad</th>";
                            html += "  <th>Departamento</th>";
                            html += "</tr>";
                          html += "</thead>";
                        html += "  <tbody>";
            var  contar = 0;
            for (var i = 0; i < data.length; i++) {
              if (data[i].carrera === null || data[i].carrera === "") {
                    html += "Lo siento, no tengo una respuesta para esa pregunta o puede argumentar un poco mas.";
              } else {
                  html +="<tr>";
                            html += "<td>"+(i+1)+"</td>";
                            html += "<td>"+data[i].nombre+"</td>";
                            html += "<td>"+data[i].ap+"</td>";
                            html += "<td>"+data[i].am+"</td>";
                            html += "<td>"+data[i].ci+"</td>";
                            html += "<td>"+data[i].departamento+"</td>";
                          html += "</tr>";
              }
              contar++;
            }
            html +=" </tbody>";
                  html +="</table>";
                html+="se tiene "+contar+" estudiantes desactivos";
          }

          if(indice == "ver_carreras"){

                    html += "Las carreras son las siguientes: ";
                                html += "<h2>Tabla de carreras de la UNSXX</h2>";
                                html += "<table class='table table-striped'>";
                                  html += "<thead>";
                                    html += "<tr>";
                                      html += "<th>Nro</th>";
                                      html += "<th>Carrera</th>";
                                      html += "<th>Direccion</th>";
                                    html += "</tr>";
                                  html += "</thead>";
                                html += "  <tbody>";
                    var  contar = 0;
                    for (var i = 0; i < data.length; i++) {
                      if (data[i].carrera === null || data[i].carrera === "") {
                          html += "Lo siento, no tengo una respuesta para esa pregunta o puede argumentar un poco mas.";
                      } else {
                          html +="<tr>";
                                    html += "<td>"+(i+1)+"</td>";
                                    html += "<td>"+data[i].carrera+"</td>";
                                    html += "<td>"+data[i].direccion+"</td>";
                                  html += "</tr>";
                      }
                      contar++;
                    }
                    html +=" </tbody>";
                          html +="</table>";
                        html+="Se tiene "+contar+" carreras activos";
          }

          if(indice == "ver_carreras_nombre"){
            for (var i = 0; i < data.length; i++) {
              if (data[i].carrera === null  || data[i].carrera === "") {
                      html += "Lo siento, no tengo una respuesta para esa pregunta o puede argumentar un poco mas.";
              } else {

                  html += "la carrera de " + data[i].carrera + " se encuentra en la direccion "+data[i].direccion+" ";
              }
            }
          }

          html +="</container>";


          $('#respuesta').html(html);
        }
    }


    /*data.forEach(function(obj) {
// Accede a las propiedades de cada objeto
      console.log("Carrera:", obj.carrera);
      console.log("Total:", obj.to);
      console.log("Indice:", obj.indice);
    });*/
    </script>

    <script src="{{ url_for('static', filename='bootstrap-5.0.2/js/bootstrap.min.js') }}" charset="utf-8"></script>

    </body>
    </html>
