<nav class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm'>
    <div class='container'>
      <a href='#' class='navbar-brand'>
        <img src='../static/imagenes/unsxx.png' height='30' width='30' class='rounded-circle'>
      </a>
      <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNav'>
        <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
          <li class='nav-item' title='Inicio'>
            <a class='nav-link btn btn-outline-secondary text-primary' href='/'>Inicio</a>
          </li>
          {% if usuario %}
            <li class='nav-item' title='Registro'>
              <a class='nav-link btn btn-outline-secondary text-primary' href='/tpreg'>Preguntas</a>
            </li>
            <!--<li class='nav-item' title='Registro de respuesta'>
              <a class='nav-link btn btn-outline-secondary text-primary' href='/tresp'>Respuestas</a>
            </li>-->
            <li class='nav-item' title='backup de la base de datos'>
              <a class='nav-link btn btn-outline-secondary text-primary' href='/backup'>Backup</a>
            </li>

            <li class='nav-item dropdown' title='Registros'>
              <a class='nav-link dropdown-toggle btn btn-outline-secondary text-primary' href='#' id='navbarDropdown2' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
                Registros <!-- Mostrar nombre de usuario -->
              </a>
              <ul class='dropdown-menu' aria-labelledby='navbarDropdown2'>
                <li><hr class='dropdown-divider'></li>
                <li class='nav-item' title='Registro nuevo de carrera' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormCarrera'style='color:green;font-size:12px'>
                    Registrar Carrera
                  </a>
                </li>
                <li class='nav-item' title='Registro de estudiante' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormEstudiante'style='color:green;font-size:12px'>
                    Reg. Estudiante
                  </a>
                </li>
                <li class='nav-item' title='Registro nuevo plan curricular' style='color:green'style='color:green;font-size:12px'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormPlan'style='color:green;font-size:12px'>
                    Registrar plan de estudio
                  </a>
                </li>
                <li class='nav-item' title='Registro nuevo docente' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormDocente'style='color:green;font-size:12px'>
                    Reg. de Docente
                  </a>
                </li>
                <li class='nav-item' title='Registro nueva asignatura' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormAsig'style='color:green;font-size:12px'>
                    Reg. Asignatura
                  </a>
                </li>

                <li class='nav-item' title='Registro de modalidad de titulación' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormModalidad'style='color:green;font-size:12px'>
                    Reg. modalidad de titulación
                  </a>
                </li>
                <li class='nav-item' title='Registro de nuevo titulado' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormTitulado'style='color:green;font-size:12px'>
                    Reg. Titulados
                  </a>
                </li>

                <li class='nav-item' title='Registro de docente que asignaturas dictara' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormDicta'style='color:green;font-size:12px'>
                    Reg. Docente dicta materias
                  </a>
                </li>

                <li class='nav-item' title='Registro de asignatura a llevar por el estudiante' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormAsigEst'style='color:green;font-size:12px'>
                    Reg. asignaturas del estudiante
                  </a>
                </li>
                <li class='nav-item' title='Registrar Transición de Curso' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormAvance'style='color:green;font-size:12px'>
                    Reg. Transición de Curso
                  </a>
                </li>
                <li class='nav-item' title='Registro nueva transferencia a otra universidad' >
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormTranferirO'style='color:green;font-size:12px'>
                    Reg. transferencia a otra universidad
                  </a>
                </li>

                <li class='nav-item' title='Registro nueva transferencia de otra universidad' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-info' href='/FormTranferirD'style='color:green;font-size:12px'>
                    Reg. transferencia de otra universidade
                  </a>
                </li>

              </ul>
            </li>
          {% endif %}
        </ul>
        <ul class='navbar-nav ms-auto'>
          {% if usuario %}
            <!-- Si hay un usuario en sesión -->
            <li class='nav-item dropdown' title='Nombre Usuario'>
              <a class='nav-link dropdown-toggle btn btn-outline-info text-primary' href='#' id='navbarDropdown2' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
                {{ usuario }} <!-- Mostrar nombre de usuario -->
              </a>
              <ul class='dropdown-menu' aria-labelledby='navbarDropdown2'>
                <li><hr class='dropdown-divider'></li>
                <li class='nav-item' title='Cerrar sesión' style='color:green'>
                  <a class='nav-link text-primary btn btn-outline-danger' href='/cerrar'>
                    <img src="{{ url_for('static', filename='imagenes/apagar.png') }}" height="22px" width="22px" class="img-circle">
                    Cerrar sesión
                  </a>
                </li>
              </ul>
            </li>
          {% else %}
            <!-- Si no hay un usuario en sesión -->
            <li class='nav-item' title='Inicio'>
              <a class='nav-link btn btn-outline-warning' href='/login'>Iniciar sesión</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
