<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Flask App</title>
  <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}" charset="utf-8"></script>

  <link href="{{ url_for('static', filename='bootstrap-5.0.2/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script></head>
<body class="cc">
    {% include 'menu.html' %}
    <br><br><br>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-body">
              <div id="error">

              </div>
              <h5 class="card-title text-center mb-4">REGISTRO DE NUEVA ASIGNATURA</h5>

              <form method="POST">
                <div class="mb-3">
                  <label for="Sigla de la asignatura" class="form-label">Sigla de la asignatura</label>
                  <input type="text" class="form-control" id="sigla" name="sigla" required placeholder="ponga la sigla de la asignatura" required>
                </div>
                <div class="mb-3">
                  <label for="Nombre de la asignatura" class="form-label">Nombre de la asignatura</label>
                  <input type="text" class="form-control" id="asignatura" name="asignatura" required placeholder="ponga el nombre de la asignatura" required>
                </div>

                <div class="mb-3">
                  <label for="plan">Plan de estudio</label>
                  <select name="plan" id='plan' class="form-control" required>
                    <option value="">Seleccione plan de estudio</option>
                      {% for categoria in consultaplan %}
                          <option value="{{ categoria[0] }}" title="{{ categoria[1] }}">
                            {{ categoria[1]}} - {{ categoria[2]}}
                          </option>
                      {% endfor %}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="carrera">Asignatura de que Carrera</label>
                  <select name="carrera" id='carrera' class="form-control" required>
                    <option value="">Seleccione carrera</option>
                      {% for categoria in consultacarrera %}
                          <option value="{{ categoria[0] }}" title="{{ categoria[1] }}">
                            {{ categoria[1] }}
                          </option>
                      {% endfor %}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="grado">Grado de la asignatura</label>
                  <select name="grado" id='grado' class="form-control" required>
                    <option value="">Seleccione grado</option>
                      {% for categoria in consultagrado %}
                          <option value="{{ categoria[0] }}" title="{{ categoria[1] }}">
                            {{ categoria[1] }}
                          </option>
                      {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="area">Área</label>
                  <select name="area" id='area' class="form-control" required>
                    <option value="">Seleccione área</option>
                      {% for categoria in consulta %}
                          <option value="{{ categoria[0] }}" title="{{ categoria[1] }}">
                            {{ categoria[1] }}
                          </option>
                      {% endfor %}
                  </select>

                </div>

                <div class="d-grid gap-2">
                  <button type="button" class="btn btn-primary btn-block" onclick="registrar()">Registrar</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div id='respuesta'>

      </div>
    </div>
{% include 'footer.html' %}
</body>
</html>

    <script type="text/javascript">
    function registrar(){
      var sigla = document.getElementById("sigla").value;
      var asignatura = document.getElementById("asignatura").value;
      var carrera = document.getElementById("carrera").value;
      var grado = document.getElementById("grado").value;
      var area = document.getElementById("area").value;
      var plan = document.getElementById('plan').value;
      if(carrera == '' || asignatura == '' || area == '' || grado == '' || sigla=='' || plan == ''){
        $('#error').html("<div class='alert alert-danger'>Algun campo vacion o falta seleccionar</div>");
        vaciar();
        return ;
      }
      var datos=new  FormData();

      datos.append("carrera",carrera);
      datos.append("area",area);
      datos.append("sigla",sigla);
      datos.append("asignatura",asignatura);
      datos.append("grado",grado);
      datos.append("plan",plan);
      $.ajax({
        type: "POST", //type of submit
        cache: false, //important or else you might get wrong data returned to you
        url: "/RegAsignatura", //destination
        datatype: "html", //expected data format from process.php
        data: datos, //target your form's data and serialize for a POST
        contentType:false,
        processData:false,
        success: function(data){
          //alert(data);
          console.log(data);
          if(data == "correcto"){
            $('#error').html("<div class='alert alert-success'>Se guardo la información correctamente</div>");
          }else{
            $('#error').html("<div class='alert alert-danger'>Sucedio algun problema al registrar</div>");
          }
            //retorno1(data);
          validarError();
        },
        error: function() {
          $('#error').html("<div class='alert alert-danger'>Ocurrio un error Verifique los datos</div>");
            vaciar();
        }
      });
    }
    // Ejecutar código después de 1 minuto (60,000 milisegundos)
    function validarError(){
      setTimeout(function() {
        redireccionar();
      }, 3000);
    }
    function vaciar(){
      setTimeout(function() {
        $('#error').html("");
      }, 2000);
    }
function redireccionar(){
  // Redireccionar a una URL específica
  window.location.href = "/FormAsig";
}
</script>
<script src="{{ url_for('static', filename='bootstrap-5.0.2/js/bootstrap.min.js') }}" charset="utf-8"></script>
